{% extends "base.html" %}

{% block content %}

{% if post_destaque %}

<div class="card p-5 mb-5 bg-secondary text-white">
    <div class="col m-2 px-3">
        <h1 class="display-4 mb-4 mt-1">{{post_destaque.titulo}}</h1>
    </div>
    <div class="mb-2 px-3">{{post_destaque.data}}</div>
    <p class="lead mb-2">
        {{post_destaque.resumo}}
        
    </p>
    {{post_destaque.id}}
    <div class="lead mb-2">
        <a class="link-light icon-link gap-0 icon-link-hover stretched-link" href="{% url 'post' id=post_destaque.id %}"><i>Ler mais</i></a>
    </div>
</div>
{% else %}
    <p>Nenhum post disponível no momento.</p>
{% endif %}

<div class="row">
{% for post in post_secundario %}
    <div class="col-md-6 mb-4">
        <div class="card bg-dark" style="height:300px;">
            <div class="card-body">
                <strong class="rounded p-1 m-2 text-bg-primary">{{post.categoria}}</strong>                
                <h3 class="text-white ms-1 mt-3">{{post.titulo}}</h3>
                <div class="text-secondary">{{post.data}}</div>
                <div class="text-white mt-3">{{post.resumo}}</p>

                <a class="icon-link gap-0 icon-link-hover stretched-link"href="{% url 'post' id=post.id %}"><i>Ler mais</i></a>

                </div>
            </div>
        </div>
    </div>
{% endfor %}
</div>

<div class="row">
    <div class="col-8"></div>

    <div class="col">
        <ul class="">
            {% for post in posts%}
            <a class="list-group-item icon-link link-primary p-2" href="{% url 'post' id=post.id %}">
            {{post.titulo}}

            </a>
            <br>
            {%endfor%}
        </ul>
    </div>

</div>



{% endblock %}