{% extends 'base.html' %}
{% block content %}

    <label class=" rounded text-success m-1 p-1"><strong>{{post.categoria}}</strong></label>
        <h1 class="display-2 text-justify p-2"><strong>{{post.titulo}}</strong></h1>

        <div class="row text-justify mt-4 p-1">
            <p class="lead"><strong>{{post.resumo}}</strong></p>
        </div>
        <label class="text-secondary h5"><strong>criado por {{post.autor}}</strong></label>
        <div class="ps-1"><small>{{post.data}}</small></div>


        <div class="row pe-4 text-justify">
            <div class="col p-5">
                <p class="lead">{{post.conteudo}}</p>
            </div>
            
        </div>

        <p>
        {%if post.tag.exists %}
            {{post.tag.all|join:', '}}
        {% endif %}
        </p>

    <div class="pagination">
        {% if post_anterior %}
            <a href="{%url 'blog:post' post_anterior.id %}">Anterior</a>
        {% endif %}
        
        <span>Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>
    
        {% if proximo_post %}
            <a href="{% url 'blog:post' proximo_post.id %}">Próximo</a>
        {% endif %}
    </div>



{% endblock %}