{% extends 'base.html' %}
{% block content %}
<div class="container text-start"></div>
    <div class="row justify-content-center align-items-center vh-100">
      <div class="col-4">
        <form class="form-control p-5" action="{% url 'login' %}" method="POST">
          <div class="mb-3">
            <label for="Login" class="form-label">Login</label>{% csrf_token %}
            <input type="text" class="form-control" name="usuario" >
          </div>
          <div class="mb-3">
            <label for="Senha" class="form-label">Password</label>
            <input type="password" class="form-control" name="senha">
          </div>
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" name="manter_conectado">
            <label class="form-check-label" for="exampleCheck1">Manter-me conectado</label>
          </div>

              <button type="submit"class="btn btn-dark w-100 py-2 mb-3">Entrar</button>

          <div class="text-start">
            <ul class="ps-1">
              <p>Não tem conta?<a href="{% url 'registrar' %}"> Inscreva-se</a></p>                
            </ul>
          </div>
      </form>

      </div>
    </div>
  </div>
{% endblock %}